<!-- Craig Tomkow -->
<!-- July 26, 2019 -->
<!-- Main html file -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body style="text-align: center;">
		<div id="container">
			<div class="pagetitle">
				 <h1>Text Scrambler</h1>
			</div>
			<div id="main">
				<form method="post" action="{{ url_for('result') }}">
					<label for="words"></label>
					<textarea name="words" rows="30" cols="100"></textarea>
					<br />
					<input type="submit" value="Scrabble it!">
				</form>
			</div>
		</div>
		<div id="footer">
			<i><a href="https://github.com/ctomkow/alphabet-soup" style="text-decoration:none">source code</a></i>
		</div>
	</body>
</html>
