<!-- Craig Tomkow -->
<!-- July 26, 2019 -->
<!-- Main html file -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
        <div id="container">
	    <div class="pagetitle">
	         <h1>Alphabet Soupitizer!</h1>
	    </div>
	    <div id="main">
	        <form method="post" action="{{ url_for('result') }}">
                <label for="words"></label>
                <textarea name="words" rows="30" cols="100"></textarea>
				<br />
                <input type="submit" value="Scrabble it!">
		    </form>
	    </div>
	</div>
    </body>
</html>
